extends layout

block content
  h1= title

  section.layout-fill-space
    .grow1
      div.rcorners
        ul
          li
            a(href='/hardware') Hardware
          li
            a(href='/onion') Onion